body {
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove espaços indesejados nas bordas */
  padding: 20px;
  line-height: 1.6; /* Melhora o espaçamento entre as linhas de texto */
}

header {
  background-color: red; /* Um azul escuro elegante */
  color: white; /* Texto branco para contrastar */
  padding: 2rem;
  text-align: center; /* Centraliza o texto */
  border-radius: 8px; /* Arredonda as bordas */
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

footer {
  background-color: white;
  color: black;
  margin-top: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px;
}
